* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {

    min-height: 100vh;
    margin: 0;

}

/* Navbar */


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 1.3rem 10%;

    box-shadow: 6px 6px 6px rgba(147, 147, 147, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #FFFFFF, transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    width: 143px;
    height: 76px;
}

.navbar a {
    font-size: 1.15rem;
    color: rgba(30, 30, 30, 1);
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;
}

.navbar a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgba(30, 30, 30, 1);
    cursor: pointer;
    display: none;
}



/* Style the button and dropdown container */
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {

    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E2E5F5;

    width: 263.08px;
    height: 170px;
    z-index: 1;
    border-radius: 4px;

}

/* Style the dropdown links inside the container */
.dropdown-content a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    size: 20px;
    color: #4D4D4D;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

/* Show the dropdown content when the button is clicked */
.dropdown-container.active .dropdown-content {
    display: block;
}




/* Transformation of your business */
.transformation {
    width: 100%;
    height: auto;


}

.trans-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5% 3% 5%;
    gap: 1%;
}

.transformation h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 62.5px;


}

.trans-text {
    margin-bottom: 10%;
    margin-left: 5%;
}

.transformation p {
    margin-top: 5%;
    font-weight: 550;
    font-size: 20px;
    line-height: 36px;
}



/* Our Values */

#ourValues {
    width: 100%;
    height: auto;
    background: #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;

}

.blue-word {
    color: #5D70D6;
}

.black-word {
    color: #1E1E1E;
}

#ourValues h2 {
    font-weight: 700;
    font-size: 64px;
    padding-top: 5%;
}

.ourValues-para {
    font-weight: 500;
    font-size: 24px;
    padding: 5% 10% 5% 10%;
    line-height: 36px;
}

.ourValues-card-container {
    display: flex;
    gap: 2%;
}


.ourValues-card {
    background: #4D4D4D;
    width: 256px;
    height: 269px;
    border-radius: 2%;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;

}

.ourValues-card-icon {
    padding-top: 15%;
    padding-bottom: 10%;

}

.ourValues-card-title h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.ourValues-p {
    font-weight: lighter;
    font-size: 12px;
    line-height: 21.5px;
}



/* Partner with us */

#partner {
    width: 100%;
    height: auto;


}

.partner-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.partner-main-text h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 57.29px;
    padding-top: 5%;
}

.partner-main-text p {
    font-weight: 500;
    font-size: 24px;
    padding: 5% 0 5% 0;
    line-height: 36px;
}

.partner-content {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    margin-left: 3%;

}

.partner-content-text {
    margin-bottom: 12%;
}

.partner-content-text p {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

.partner-content-text span {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}


/* Want Digital Partner */
#digital-partner {
    width: 100%;
    height: auto;
    background: #DDDDDD;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;

}

#digital-partner h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 57.29px;
    padding-top: 5%;
}

#digital-partner p {
    font-weight: 400;
    font-size: 32px;
    line-height: 72px;
}

#digital-partner button {
    width: 449px;
    height: 64px;
    background: #4845D2;
    font-weight: 500;
    font-size: 28px;
    line-height: 36.46px;
    color: #E2E5F5;
    border-radius: 2%;
    border: none;
}

#digital-partner button:hover {
    cursor: pointer;
    background: black;
}

/* Clients trust */
#clients {
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.client h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 80px;
    color: #1E1E1E;
    margin-bottom: 20px;

}

.image-row {
    display: flex;

    justify-content: center;
    gap: 56px;
    /* Adjust the gap between images */
    margin-bottom: 20px;
}

.image-row img {
    max-width: 100%;
    height: auto;
}

.client-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}


/* wonderful team */
#wonderful-team {
    height: auto;
    width: 100;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;

}

#wonderful-team h2 {
    font-weight: 700;
    font-size: 64px;
    padding-top: 5%;
    padding-bottom: 2%;

}

#wonderful-team p {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 2%;

}

/* Our Clients say */
#testimonials {
    height: auto;
    width: 100%;
    background-color: #E2E5F5;
    font-family: 'Manrope', sans-serif;
    overflow: hidden;


}

#testimonials h2 {
    font-size: 80px;
    padding: 40px;

    color: #4D4D4D;
    margin-bottom: 20px;
}

.testimonials-card {

    width: 504.5px;
    /* Adjust the width as needed */
    height: 420px;
    padding: 20px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(79, 65, 164, 0.57), rgba(255, 255, 255, 0.1));
    border: 1px solid linear-gradient(rgba(255, 255, 255, 1), rgba(163, 119, 255, 1));
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    margin: 20px;
    position: relative;

}

.testimonials-card-container {
    background-color: rgba(250, 250, 250, 1);
    width: 459px;
    float: left;
    height: 367px;
    padding: 30px;
    border-radius: 21.77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.testimonials-card-texting {
    width: 42%;
}

.testimonials-content {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.99px;
}

.testimonials-rating {
    font-size: 24px;
    margin-bottom: 10px;
    color: orange;
}

.testimonials-mini-heading {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.testimonials-card-texting h6 {
    color: rgba(128, 128, 128, 1);
    font-size: 10px;
    font-weight: lighter;
}

.testimonials-card-img {
    margin-left: 37px;
    width: 243.42px;
    height: 364.5px;

}

.testimonials-card-collection {
    display: flex;

    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
    scrollbar-width: none;
    /* Firefox - hide scrollbar */
    -ms-overflow-style: none;
    /* IE/Edge - hide scrollbar */

}

.testimonials-card-collection::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari/Opera - hide scrollbar */
}

/* photo ads */
#photo-Ads {
    width: 100%;
    height: auto;

}

#photo-Ads img {
    width: 100%;

}

/* transform */

#transform {
    width: 100%;
    height: auto;
    background: #E2E5F5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;

}

#transform h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 57.29px;
    padding-top: 5%;
    padding-bottom: 2%;
}

#transform button {
    width: 449px;
    height: 64px;
    background: #4845D2;
    font-weight: 500;
    font-size: 28px;
    line-height: 36.46px;
    color: #E2E5F5;
    border-radius: 2%;
    border: none;
}

#transform button:hover {
    cursor: pointer;
    background: black;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

/* Tablet styles (for screens between 768px and 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* photo Ads */
    #photo-Ads img {

        width: 100%;
        /* Adjust styles for tablets here */
    }

    /* Transform */

    #transform h2 {
        width: 100%;
        align-items: center;

        /* Adjust styles for tablets here */
    }

    #transform button {
        width: 100%;
        /* Adjust styles for tablets here */
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(93, 112, 214, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 .5rem 1rem rgba(234, 237, 255, 1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: gray;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .dropdown-container {
        position: relative;
        text-align: center;
        width: 100%;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #E2E5F5;
        z-index: 1;
        border-radius: 4px;
    }

    .dropdown-container.active .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        /* Adjust the font size as needed */
        color: #4D4D4D;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }

    /* Transformation of your business */

    .trans-main {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .trans-text {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        width: 100%;


    }

    .trans-text h3 {
        font-size: 42px;
    }

    .trans-img img {
        width: 100%;
    }

    /* Our Values */

    #ourValues h2 {
        font-size: 42px;
        /* Adjust the font size for smaller screens */
        padding-top: 8%;
    }

    .ourValues-para {
        font-size: 18px;
        /* Adjust the font size for smaller screens */
        padding: 5% 8% 5% 8%;
        line-height: 28px;
    }

    .ourValues-card-container {
        flex-direction: column;
        /* Stack cards vertically on smaller screens */
        align-items: center;
    }

    .ourValues-card {
        width: 100%;
        /* Make cards full width on smaller screens */
        margin-bottom: 5%;
        /* Add some space between stacked cards */
    }


    /* partner with us */
    .partner-main-text h3 {
        font-size: 40px;
        line-height: 42px;
        text-align: center;
    }

    .partner-main-text p {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }

    .partner-content {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .partner-content-text {
        margin-bottom: 5%;
        text-align: center;
    }

    .partner-content-img img {
        max-width: 100%;
        /* Ensure the image doesn't exceed its container */
        height: auto;
        /* Maintain the aspect ratio */
    }

    /* want digital partner */

    #digital-partner h2 {
        font-size: 40px;
        line-height: 42px;
        text-align: center;
    }

    #digital-partner p {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }

    #digital-partner button {
        width: 80%;
        /* Adjust the width as needed */
        margin-top: 20px;
        /* Add space between the paragraph and the button */
    }


    /* Clients trust */

    .client h2 {
        font-size: 40px;
    }



    .client-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-row {
        flex-direction: column;
        gap: 20px;
    }

    .client {
        align-items: center;
    }

    /* wonderful team */
    #wonderful-team {
        width: 100%;
    }

    #wonderful-team h2 {
        font-size: 40px;
        /* Adjust the font size for h2 on mobile */
        padding-bottom: 2%;
        /* Adjust as needed */
    }

    #wonderful-team p {
        font-size: 20px;
        /* Adjust the font size for p on mobile */
        padding-bottom: 2%;
        /* Adjust as needed */
    }

    #wonderful-team img {
        width: 100%;
    }

    /* Our Clients Say */

    #testimonials h2 {
        font-size: 40px;
        padding: 20px;
        margin-bottom: 10px;
    }

    .testimonials-card {
        width: 100%;
        /* Adjust the width for full width on smaller screens */
        max-width: 400px;
        /* Set a maximum width to control the card size */
        margin: 10px auto;
        /* Center the cards on smaller screens */
        height: auto;
        /* Adjust the height as needed */
        padding: 10px;
    }

    .testimonials-card-container {
        width: 100%;
        padding: 15px;
    }

    .testimonials-card-img {
        margin-left: 0;
        margin-top: 10px;
    }

    .testimonials-card-collection {
        flex-wrap: wrap;
        /* Allow the cards to stack vertically on smaller screens */
        overflow-x: hidden;
        /* Hide the horizontal scrollbar */
    }

    /* photo ads */

    #photo-Ads img {
        width: 100%;
        /* Adjust styles for mobile devices here */
    }


    #transform h2 {
        align-items: center;
        text-align: center;
        font-size: 40px;
        /* Example: Adjust font size for mobile */
    }

    #transform button {
        width: 80%;
        /* Example: Adjust button width */
        margin: 20px auto;
        /* Add space between button and screen edges */
    }
}