* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {

    min-height: 100vh;
    margin: 0;

}

/* Navbar */


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 1.3rem 10%;

    box-shadow: 6px 6px 6px rgba(147, 147, 147, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #FFFFFF, transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    width: 143px;
    height: 76px;
}

.navbar a {
    font-size: 1.15rem;
    color: rgba(30, 30, 30, 1);
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;
}

.navbar a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgba(30, 30, 30, 1);
    cursor: pointer;
    display: none;
}

/* Style the button and dropdown container */
.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {

    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E2E5F5;

    width: 263.08px;
    height: 170px;
    z-index: 1;
    border-radius: 4px;

}

/* Style the dropdown links inside the container */
.dropdown-content a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    size: 20px;
    color: #4D4D4D;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    color: #5D70D6;
    text-decoration: underline;
}

/* Show the dropdown content when the button is clicked */
.dropdown-container.active .dropdown-content {
    display: block;
}



/* SMM heading */
#smm-heading {
    width: 100%;
    height: auto;
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    padding: 5%;
    background: linear-gradient(135deg, rgb(35, 45, 131), rgb(61, 34, 125), rgb(121, 35, 130));
    display: flex;
    flex-direction: column;

    gap: 2%;
    text-transform: uppercase;
}

#smm-heading h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 96px;
}

#smm-heading button {
    width: 346px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 3px solid transparent;
    background: linear-gradient(135deg, rgb(35, 45, 131), rgb(61, 34, 125)) padding-box,
    linear-gradient(to right, rgb(91, 79, 192), rgb(187, 187, 198)) border-box;
    border-radius: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
    line-height: 72px;



}

#smm-heading button:hover {
    cursor: pointer;
    background: rgb(93, 112, 214);

}








/* <!-- Services Offer --> */
#services-offer {
    width: 100%;
    height: auto;
    background: #E2E5F5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: normal;
    padding: 5%;
    color: #1E1E1E;
    font-family: 'Bebas Neue', sans-serif;


}

#services-offer h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 76px;
    text-transform: uppercase;
    margin-bottom: 2%;
}



.services-card-content {
    width: 249px;
    height: 259px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
    background: linear-gradient(135deg, #E2E5F5, #E2E5F5) padding-box,
    linear-gradient(to top, rgba(183, 186, 255, 0.68), rgba(200, 200, 200, 1)) border-box;
    border-radius: 12px;
    padding: 2%;
}

.services-card-content div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.services-card-content span {
    color: #4845d2;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    font-weight: 400;
}

.services-card-content h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.services-cards {
    display: flex;
    gap: 2%;
    justify-content: center;
}


/* OUR PROCESS */
#our-process {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#our-process h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 76px;
    text-transform: uppercase;
    margin-bottom: 2%;
}
/* .progress-bar{
    display: flex;
    margin: 40px 0;
}
.progress-bar .step{
    text-align: center;
    width: 100%;
}
.progress-bar .step .bullet{
    height: 25px;
    width: 25px;
    position: relative;
    border: 2px solid #7A7A7A;
    display: inline-block;
    border-radius: 50%;
    font-weight: 500;
    font-size: 17px;
    /* line-height: 25px; *
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    height: 3px;
    width: 44px;
    right: -51px;
    bottom: 11px;
    background: #7A7A7A;

}
.progress-bar .step span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .check{
    display: none;
} */

.container {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
  }
  
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    color: #5D70D6;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #7A7A7A;
    position: relative;
  }
  
  .arrow {
    width: 190px;
    height: 2px;
    background: repeating-linear-gradient(
      to right,
      #7A7A7A,
      #7A7A7A 10px,
      transparent 10px,
      transparent 20px
    );
    margin: 0 20px;
  }
  
  .arrow::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #7A7A7A;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  
  #step1::after,
  #step2::after,
  #step3::after,
  #step4::after {
    content: ">";
    position: absolute;
    top: 50%;
    left: -40%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #7A7A7A;
  }
  
  
  
  
  


.our-process-card-content {
    width: 249px;
    height: 259px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    background: linear-gradient(135deg, white, white) padding-box,
    linear-gradient(to top, rgba(183, 186, 255, 0.68), rgba(200, 200, 200, 1)) border-box;
    border-radius: 12px;
    padding: 2%;
}

.our-process-cards {
    display: flex;
    gap: 2%;
    margin-bottom: 4%;
}

.our-process-card-content h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
}

.our-process-card-content p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.5px;
    align-items: center;
}


/* Testimonials */
#testimonials {
    width: 100%;
    height: auto;
    background: #DDDDDD;

}

#testimonials h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 76px;
    text-transform: uppercase;
    margin-bottom: 2%;
    font-family: 'Bebas Neue', sans-serif;
    padding: 5%;
    color: #1E1E1E;
}

.testimonials-card-content {
    width: 100%;
    max-width: 607px;
    height: 336px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1E1E1E;

    padding: 4%;
    margin-bottom: 3%;
    position: relative;
    /* Added position relative for absolute positioning */

}

.testimonials-cards {
    display: flex;
    gap: 2%;
    margin-bottom: 4%;

}

.testimonials-card-content h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}

.testimonials-card-content h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #7A7A7A;
}

.testimonials-card-content p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #B7B7B7;
}

.testimonials-card-content .testimonial-logo {
    position: absolute;
    font-size: 10rem;
    color: #5D70D6;
    opacity: 0.5;
    top: 10px;
    /* Align to the top with some padding */
    right: 10px;
    /* Align to the right with some padding */


}

.testimonial-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.testimonial-title img {
    width: 50px;
    /* Adjust image width as needed */
    height: 50px;
    /* Adjust image height as needed */
    border-radius: 50%;
    /* Make the image round */
    margin-right: 10px;
}

/* Industries we cater */

#Industries {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Industries h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: #4D4D4D;
    font-weight: 400;
    font-size: 64px;

}

.industries-img {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 2%;
    padding: 4%;


}

.default-image,
.hover-image {

    object-fit: cover;
    /* Preserve aspect ratio while covering the container */
    transition: opacity 0.3s ease;
    /* Add a smooth transition effect */
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* Initially hide the hover image */
}

.image-container:hover .hover-image {
    opacity: 1;
    /* Show the hover image on hover */
}

.image-container {
    position: relative;
    overflow: hidden;
    /* border-radius: 50%; */
}

.industries-blue-bottom {
    width: 100%;
    height: auto;
    background: #8c9bf0;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.industries-blue-bottom h4 {
    font-family: 'Bebas Neue', sans-serif;
    color: #1E1E1E;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2%;

}

.industries-blue-bottom div {
    width: 385px;
    height: 66px;
    border-radius: 8px;
    background: #5D70D6;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1%;

}

/* FAQ */

#FAQ {
    width: 100%;
    height: auto;
    background: #1E1E1E;
    color: #FFFFFF;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#FAQ h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 72px;
    margin-bottom: 5%;
}

.accordion {
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 2%;
    border: 1px solid;
    border-image: linear-gradient(to top, rgb(80, 80, 80), white);
    border-image-slice: 1;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: transparent;
}

.accordion:after {
    content: '\02C4';
    /* Unicode character for Modifier Letter Up Arrowhead */
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\02C5';
    /* Unicode character for Modifier Letter Down Arrowhead */
}

.panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-button {
    margin-bottom: 2%;
    width: 1080px;
    height: 80px;

}


/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(93, 112, 214, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 .5rem 1rem rgba(234, 237, 255, 1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: gray;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .dropdown-container {
        position: relative;
        text-align: center;
        width: 100%;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #E2E5F5;
        z-index: 1;
        border-radius: 4px;
    }

    .dropdown-container.active .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        /* Adjust the font size as needed */
        color: #4D4D4D;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }

    /* SMM Heading */
    #smm-heading h2 {
        font-size: 40px;
        line-height: 56px;
    }

    #smm-heading button {
        font-size: 24px;
        line-height: 48px;
    }

    /* Services Offer */

    #services-offer h2 {
        font-size: 40px;
        line-height: 56px;
    }

    .services-card-content span {
        font-size: 36px;
    }

    .services-card-content h6 {
        font-size: 14px;
        line-height: 20px;
    }

    .services-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3%;
    }

    /* OUR PROCESS */

    #our-process h2 {
        font-size: 40px;
        line-height: 56px;
    }

    .our-process-card-content h6 {
        font-size: 16px;
        line-height: 28px;
    }

    .our-process-card-content p {
        font-size: 14px;
        line-height: 18px;
    }

    .our-process-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Industries we have */
    #industries h3 {
        font-size: 40px;
    }

    .industries-img {
        grid-template-columns: auto;
    }

    .industries-blue-bottom h4 {
        font-size: 24px;
    }

    .industries-blue-bottom div {
        width: 100%;
        /* Adjust the width to fit the screen */
    }

    /* FAQ */

    .accordion-button {
        width: 90%;
        /* Adjust width for smaller screens */
    }

    /* Testimonials */
    .testimonials-cards {
        flex-direction: column;
        /* Change to column direction on smaller screens */
        align-items: center;
    }

    #testimonials h2 {
        width: 100%;
        font-size: 46px;
    }
}

@media only screen and (max-width: 480px) {
    /* SMM Heading */

    #smm-heading h2 {
        font-size: 32px;
        line-height: 44px;
    }

    #smm-heading button {
        width: 100%;
        font-size: 20px;
        line-height: 40px;
    }

    /* Services Offer */

    #services-offer h2 {
        font-size: 32px;
        line-height: 44px;
    }

    .services-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3%;
    }

    .services-card-content span {
        font-size: 24px;
    }

    .services-card-content h6 {
        font-size: 12px;
        line-height: 18px;
    }

    /* OUR PROCESS */
    #our-process h2 {
        font-size: 32px;
        line-height: 44px;
    }

    .our-process-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .our-process-card-content h6 {
        font-size: 14px;
        line-height: 24px;
    }

    .our-process-card-content p {
        font-size: 12px;
        line-height: 16px;
    }

    /* Testimonials */

    .testimonials-cards {
        align-items: center;
    }
}